{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Game of Thrones Spoiler</title>
  <meta name="description" content="Do you hate your friends? Send them GoT spoilers as soon as an episode is released">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href={% static 'apple-touch-icon.png' %}>
  <link rel="icon" type="image/png" sizes="32x32" href={% static 'favicon-32x32.png' %}>
  <link rel="icon" type="image/png" sizes="16x16" href={% static 'favicon-16x16.png' %}>
</head>
<body style="font-family: 'Indie Flower', cursive;">
{% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="text-align: center">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
<div class="container p-5">
  <div class="header" style="text-align: center">
    <h1 style="font-weight: bolder">Do your friends love Game of Thrones, Spoil
      it for them because you're a horrible friend.</h1>
    <br>
  </div>

  {% block content %}

  {% endblock content %}
  <footer style="position: absolute; left: 0; bottom: 0; width: 100%; overflow: hidden;">
    <div class="container">
      <div class="float-left">
        <p>Inspired by <a href="https://spoiled.io" target="_blank">Spoiled.io</a></p>
      </div>
    <div class="float-right">
      <p>Can't handle it? Feel free to <a href="/opt-out">opt-out</a></p>
    </div>
      <small>spilfor.me associated, or endorsed by HBO or Game of Thrones</small>
    </div>
  </footer>

</div>


<script src="" async defer></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138212842-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138212842-1');
</script>

</body>
</html>